@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #f4f6f8;
}

.layout {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 240px;
    background: white;
    border-right: 1px solid #e5e7eb;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    text-align: center;
    color: #06562B;
    font-size: 10px;
    font-family: "Montserrat";
}

.logo-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.sidebar ul {
    list-style: none;
    margin-top: 30px;
}

.sidebar li {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 8px;
}

.sidebar li.active,
.sidebar li:hover {
    background: #e6f4ea;
    color: #1e9e52;
    font-weight: 500;
}

/* CONTENT */

.content {
    flex: 1;
    padding: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 28px;
}

.header p {
    color: #6b7280;
}

/* CARD */

.card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    text-align: left;
}

/* TAGS */

.tag {
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

.blue { background: #dbeafe; color: #2563eb; }
.orange { background: #ffedd5; color: #ea580c; }
.purple { background: #ede9fe; color: #7c3aed; }

/* BUTTONS */

.btn-primary {
    background: #1e9e52;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-secondary {
    background: #e5e7eb;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.actions button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
}

/* MODAL */

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-box {
    background: white;
    width: 400px;
    padding: 25px;
    border-radius: 12px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.modal-box .form {
    display: flex;
    flex-direction: column;
}

.modal-box input,
.modal-box select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}